@import '~css/bootstrap';

.headerLink {
  a {
    display: block;
    color: $sidebar-color;
    text-decoration: none;
    cursor: pointer;
  }

  &:last-child > a {
    border-bottom: 1px solid $sidebar-item-border-color;
  }

  > a {
    position: relative;
    padding-left: 50px;
    line-height: 35px;
    border-top: 1px solid $sidebar-item-border-color;

    &:hover {
      background-color: $sidebar-item-hover-bg-color;
    }

    > i {
      margin-right: 7px;
    }
  }

  .icon {
    display: block;
    position: absolute;
    top: 3px;
    left: 11px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    i {
      color: rgba(170, 170, 170, 0.7);
    }
  }

  .badge {
    float: right;
    line-height: 8px;
    margin-top: 7px;
    margin-right: 15px;
    padding: 7px;
    border-radius: 0.2rem;
  }
}

.collapsed .caret {
  transform: rotate(-90deg);
}

.caret {
  float: right;
  margin-right: 18px;
  line-height: 35px;

  @include transition(transform 0.3s ease-in-out);
}

a.headerLinkActive {
  color: $sidebar-item-active-color;

  .icon {
    border-radius: 50%;
    background-color: $sidebar-item-active-color;

    i {
      color: #242424;
    }
  }
}

.panel {
  border: none;
  box-shadow: none;
  margin: 0;
  border-radius: 0;
  background-color: lighten($sidebar-bg-color, 5%);

  &::before {
    content: '';
    display: block;
    padding-top: $spacer/2;
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: $spacer/2;
  }

  a.headerLinkActive {
    color: $white;
    font-weight: $font-weight-thin;
  }

  ul {
    padding-left: 0;
    font-size: $font-size-sm;

    li {
      list-style: none;
    }

    a {
      padding: 4px 20px 4px 36px;

      &:hover {
        background-color: $sidebar-item-hover-bg-color;
      }
    }
  }
}
