@import "~css/bootstrap";

.AdminTable {
    width: 100%;
}
.AdminTable-row {
    font-size: $Type-fontSize--eta;
    text-align: left;
}
.AdminTable-head {
    background-color: $Color-alto;
    height: 40px;
}
.AdminTable-cell {
    padding: 1rem;
    vertical-align: top;

    &--empty {
        padding: $Margin-rhythm--double;
        text-align: center;
    }
}
