@import "~css/bootstrap";

.Widget {

    display: block;
    position: relative;
    margin-bottom: $grid-gutter-width;
    padding: $widget-padding-vertical $widget-padding-horizontal;
    background: $widget-bg-color;
    border-radius: $border-radius-sm;

    > header {
        margin: (-$widget-padding-vertical) (-$widget-padding-horizontal);
        padding: $widget-padding-vertical $widget-padding-horizontal;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
        margin: 0;
        }
    }

    &-title {
        margin-top: 0;
        color: $widget-title-color;
        font-weight: bold;
        @include clearfix();
    }

    &-widgetBody {
        margin-top: $widget-padding-vertical;

        @include clearfix();
    }

    &-widgetControls {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        padding: 14px;
        font-size: $font-size-lg;

        a {
            padding: 1px 4px;
            border-radius: 4px;
            color: rgba($black, 0.4);

            @include transition(color 0.15s ease-in-out);

            &:hover {
            color: rgba($black, 0.1);
            text-decoration: none;
            }

            :global .fa {
            position: relative;
            top: 2px;
            }
        }
    }

    &-inverse {
        top: 2px;
        position: relative;
        margin-left: 3px;

        :global {
            .glyphicon {
            vertical-align: baseline;
            }
        }
    }

    &-full {
        display: block;
        width: 100%;
    }
    &-half {
        display: inline-grid;
        width: 50%;
    }
}
