@import '~css/bootstrap';

.SetPassword {

  &-section {
    padding: $Margin-rhythm--double;
    border-bottom: 1px solid $Color-gallery;
    text-align: center;

    &:last-child {
      border-bottom: none;
      padding-top: $Margin-rhythm;
      padding-bottom: $Margin-rhythm;
    }
  }

  &-title {
    @include modalTitle();
  }

  &-formTitle {
    @include modalTitle();
    margin-top: $Margin-rhythm--half;
  }

  &-smallTitle {
    font-weight: $Type-weight--bold;
    font-size: $Type-fontSize--eta;
    margin-bottom:$Margin-rhythm--half;
  }

  &-info {
    font-size: $Type-fontSize--theta;
  }
}
