@import '~css/vars';

.Password-requirements {
  text-align: left;
  padding-top: $Margin-rhythm--half;
}

.Password-requirement {
  display: inline-block;
  font-size: $Type-fontSize--eta;
  color: $Color-silver;
  margin-right: 2rem;
  &:before {
    content: '✓ ';
    font-size: 1.2em;
  }

  &--met {
    color: $Color-black;

    &:before {
      color: $Color-green;
    }
  }
}
