@import '~css/bootstrap';

.FieldGroup {
  &:not(:last-child) {
    margin-bottom: $Margin-rhythm;
  }

  &-label {
    display: block;
    height: 1.6em;
    font-size: $Type-fontSize--theta;
    cursor: pointer;
    text-align: left;
    color: $Color-black;
  }

  &-info {
    color: $Color-silver;
    font-style: italic;
  }

  &--error &-field {
    margin-bottom: 1rem;
  }

  @include breakpoint(desktop) {
    &--inline {
      width: auto;
      min-width: 24rem;
      display: inline-block;
      margin-right: $Margin-rhythm;
    }
  }
}
