@import "~css/bootstrap";

.Statistics {
    &-progress {
        overflow: hidden;
        height: 4rem;
        position: relative;
        bottom: 0;
        left: 0;
        background-color: $Color-white;
        border: 1px solid $Color-catskillWhite;
        border-radius: 2rem;
        margin-left: 1rem;
        margin-right: 0.5rem;
    }
    &-progressBar {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0%;
        background-color: $Color-catskillBlue;
    }
    &-table {
        margin-bottom: 0rem;
        th {
            text-align: center;
        }
        td {
            text-align: center;
            font-size: $font-size-larger * 2;
        }
    }
}
