@import '~css/bootstrap';

.Dashboard {

    &-header {
        overflow: auto;
        font-size: $Type-fontSize--zeta;
    }

    &-body {
        @include content(t);
    }

    &-date {
        display: inline-block !important;
        width: 50% !important;
        &--container {
            display: inline-flex;
        }
        &--button {
            height: 3rem;
            margin-top: 2rem;
        }
    }

    &-add {
        padding-left: 4rem;
        padding-right: 4rem;
        border-color: $Color-silver;
        width: 100%;
        text-align: center;

        @include breakpoint(desktop) {
            display: inline-block;
            width: auto;
            float: right;
        }
    }

    &-add > * {
        vertical-align: middle;
        display: inline-block;
    }

    &-addIcon {
        height: 60%;
        margin-right: 1rem;
    }

    &-filter {
        @include breakpoint(desktop) {
            float: left;
        }
    }

}
